
scripts_text_save_location: "/home/users/jeff/satellite_met_scripts/updates.txt"

scratch_path: "/work/scratch-nopw2/jeff/"

reference_footprints_directory: "/gws/nopw/j04/acrg/elenafi/example_footprints"

# removing hard-coding of met.attrs["author"] = "Elena Fillola (ef17148)" in satellite_met_join_v2.py
met_extract_author: "Jeff Clark (kr21883)"

domains:
  SA:
    domain_name: "SOUTHAMERICA"
    footprint: "GOSAT-BRAZIL-column_SOUTHAMERICA_201801.nc"
    world_regions_codes: [9, 10, 13, 6]
    
  NA:
    domain_name: "NORTHAFRICA"
    footprint: "GOSAT-SAHARA-column_NORTHAFRICA_201611.nc"
    world_regions_codes: [2, 3, 6,7]
    
  CHINA:
    domain_name: "CHINA"
    footprint: "GOSAT-CHINA-column_EASTASIA_201605.nc"
    world_regions_codes: [3, 4, 7, 8]

  INDIA:
    domain_name: "INDIA"
    footprint: "GOSAT-INDIA-SAM-column_SOUTHASIA_201503.nc"
    # Non square, will require potential adaptation of _join_v2.py script:
    world_regions_codes: [3, 7]



    
